@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 29% 97%;
    --foreground: 224 71% 4%;
    --card: 0 0% 100%;
    --card-foreground: 224 71% 4%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71% 4%;
    --primary: 202 60% 42%;
    --primary-foreground: 356 100% 98%;
    --secondary: 210 40% 90%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 220 13% 91%;
    --muted-foreground: 220 9% 46%;
    --accent: 158 49% 48%;
    --accent-foreground: 356 100% 98%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 89%;
    --input: 220 13% 89%;
    --ring: 202 60% 42%;
    --chart-1: 202 60% 42%;
    --chart-2: 158 49% 48%;
    --chart-3: 25 84% 60%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --radius: 0.5rem;
    --sidebar-background: 224 71% 10%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 202 60% 42%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 224 71% 15%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 224 71% 15%;
    --sidebar-ring: 202 60% 42%;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 210 40% 98%;
    --card: 224 71% 4%;
    --card-foreground: 210 40% 98%;
    --popover: 224 71% 4%;
    --popover-foreground: 210 40% 98%;
    --primary: 202 60% 52%;
    --primary-foreground: 356 100% 98%;
    --secondary: 224 71% 10%;
    --secondary-foreground: 210 40% 98%;
    --muted: 224 71% 10%;
    --muted-foreground: 215 20% 65%;
    --accent: 158 49% 58%;
    --accent-foreground: 356 100% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 224 71% 10%;
    --input: 224 71% 10%;
    --ring: 202 60% 52%;
    --chart-1: 202 60% 52%;
    --chart-2: 158 49% 58%;
    --chart-3: 25 84% 70%;
    --chart-4: 280 65% 70%;
    --chart-5: 340 75% 65%;
    --sidebar-background: 224 71% 4%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 202 60% 52%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 224 71% 10%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 224 71% 10%;
    --sidebar-ring: 202 60% 52%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
